beautifulsoup4
bertopic
cryptography==42.0.8
dateparser
hdbscan
more-itertools
nltk
pandas
pydantic
pymongo
requests
scikit-learn
scrapy
sentence-transformers
tenacity
torchinfo
umap-learn
qdrant-client